{{ attach_library('theme_name/navbar') }}
<section class="navbar">
  <nav class="navbar__wrapper">
  {% for item in items %}
  <article class="navbar__item">
    <h3>{{ item.title }}</h3>
    <p>{{ item.desc }}</p>
  </article>
  {% endfor %}
  </nav>
</section>
