{{ attach_library('theme_name/menu') }}
<nav role="navigation" aria-labelledby="block-mo-m-main-menu-menu" id="block-mo-m-main-menu" class="contextual-region block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-mo-m-main-menu-menu">Main navigation</h2>

    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'links__contextual' -->
    <!-- FILE NAME SUGGESTIONS:
       * links--contextual.html.twig
       x links.html.twig
    -->
    <!-- BEGIN OUTPUT from 'core/themes/classy/templates/navigation/links.html.twig' -->
    <ul class="contextual-links" hidden=""><li class="block-configure"><a href="/admin/structure/block/manage/mo_m_main_menu?destination=race-schedule">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/main?destination=race-schedule">Edit menu</a></li></ul>
    <!-- END OUTPUT from 'core/themes/classy/templates/navigation/links.html.twig' -->





  <!-- THEME DEBUG -->
  <!-- THEME HOOK: 'menu__main' -->
  <!-- FILE NAME SUGGESTIONS:
     * menu--main.html.twig
     x menu.html.twig
  -->
  <!-- BEGIN OUTPUT from 'core/themes/classy/templates/navigation/menu.html.twig' -->

  <ul class="menu">
    <li class="menu-item">
      <a href="/" data-drupal-link-system-path="<front>">Home</a>
    </li>
  </ul>



  <!-- END OUTPUT from 'core/themes/classy/templates/navigation/menu.html.twig' -->


</nav>