// Sidebar Block
//
// Sidebar block styling.
//
// Markup: block.twig
//
// Style guide: components.block
aside .block {
  @extend .blocked-style;

  margin-bottom: 25px;

  h2 {
    font-size: 175%;
    color: $dark-gray;
  }
}

.bikereg--block {
  background: $yellow !important;
  padding: 0.5em 1em;
  color: $accent;
  text-align: center;
}