// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

.header--primary {
  background: #7a6aff;

}
.menu--main {
  .menu {
    display: flex;
    .menu-item {
      list-style: none;
      text-transform: uppercase;
      padding: 0.5em 1em;
      margin: 0.2em;
      background: $yellow;
    }
  }


}


.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
