// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.twig
//
// Style guide: components.header

.header--primary {
  background: sandybrown;

  .mq-header {

    .menu {
      display: flex;
      justify-content: space-around;
    }
  }
}

.region-header {
  @include region-spacer($light-gray);
  display: flex;
}
