// Hero
//
// This is the Hero component. It's an example.
//
// Markup: hero.twig
//
// Style guide: components.hero

.hero {
  //background: url("../../images/bg-image.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: no-repeat;
  background-size: cover;
}

.hero__content {
  width: span(8);
  background: rgba(0,0,0,0.4);
  margin: 0 (gutter() / 2);
  padding: 0.5em 0.7em;
  text-align: center;

  .hero__heading {
    font-weight: bold;
    color: $white;
  }
}