.race__schedule--hero {
  width: span(4);
  background: rgba(0,0,0,0.4);
  margin: 0 (gutter() / 2);
  padding: 1em;
  border-radius: 5px;
  border: 2px solid $yellow;
  h2 {
    color: $white;
    font-size: 120%;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    border-bottom: 1px $dark-gray solid;
  }
  .views-row {
    display: flex;
    justify-content: space-between;
    color: $white;
    a {
      color: $yellow;
      font-weight: bold;
    }
  }
}