.sponsor__class {
  .view-sponsor-list {
    @extend .mq-main;
  }
  .sponsor__class--title {
    text-align: center;
    font-family: $crackhouse;
    font-size: 250%;
  }
  .view-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.view-sponsor-list {
  .view-content {
    display: flex;
    justify-content: space-around;

  }
}

.sponsor--gold {
  @include breakpoint($up-sm){
    width: span(4);
  }
  width: span(6);
}

.sponsor--silver {
  @include breakpoint($up-sm){
    width: span(3);
  }
}

.sponsor--bronze,
.sponsor--partner {
  @include breakpoint($up-sm){
    width: span(2);
  }
}

.sponsor__name {
  text-align: center;
}

.sponsor {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 1em;
  .sponsor__title {

  }
  .sponsor__logo {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 0 1em;
    img {
      max-height: 100px;
      width: auto;
    }
  }
}