<section class="hero">
  <h1 class="hero__heading">{{ heading }}</h1>
  {% for item in items %}
  <article class="hero__item">
    <h3>{{ item.title }}</h3>
    <p>{{ item.desc }}</p>
  </article>
  {% endfor %}
</section>
