<div class="sponsor__class">
  <h3 class="sponsor__class--title">Gold Sponsors</h3>
  <div class="view-sponsor-list">
    <div class="view-content">
      <div class="sponsor">
        <div class="sponsor__image"><img src="" alt=""></div>
        <div class="sponsor__link"><a href=""></a></div>
      </div>
    </div>
  </div>
</div>