/**
  Normal reset
*/
/* stylelint-disable */
img, legend {
  border: 0;
}

legend, td, th {
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, optgroup, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre, textarea {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
  Config file that contains centralized variables
*/
/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/
.no-ul-list, body ul.links.inline li, .region-branding .block-system-menublock ul.menu, nav.breadcrumb ol, .region-footer .block-menu ul.menu, .drupal-messages ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.no-ul-list > li, body ul.links.inline li > li, .region-branding .block-system-menublock ul.menu > li, nav.breadcrumb ol > li, .region-footer .block-menu ul.menu > li, .drupal-messages ol > li {
  display: inline-block;
  list-style-type: none;
  margin: 2px;
}

.tmp-shadow, .blocked-style, .layout-node-form .layout-region-node-secondary > .form-wrapper, aside .block, nav.breadcrumb, button,
html input[type="button"],
input[type="reset"],
input[type="submit"], .drupal-messages {
  box-shadow: 0 0 2px 0 #666666;
}

.tmp-shadow-none {
  box-shadow: none;
}

.blocked-style, .layout-node-form .layout-region-node-secondary > .form-wrapper, aside .block, nav.breadcrumb {
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 5px;
  background: #f7f7f7;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: 500;
  font-family: "Cabin";
  padding: 0 0 0.3em;
  margin: 0;
}

h1 {
  font-size: 250%;
  line-height: 165%;
}

h2 {
  font-size: 210%;
  line-height: 145%;
}

h3 {
  font-size: 180%;
  line-height: 145%;
}

h4 {
  font-size: 170%;
  line-height: 145%;
}

h5,
h6 {
  font-size: 140%;
  line-height: 145%;
}

body .menu-item {
  padding-top: 0;
  margin: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #666666;
  cursor: inherit;
}

a:hover,
a:link:hover,
a:visited:hover {
  color: #333333;
  text-decoration: underline;
}

body p {
  margin: 3px 0 10px;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

blockquote {
  padding: 0 15px;
  color: #333333;
  border-left: 4px solid #f7f7f7;
}

blockquote:last-child {
  margin-bottom: 0;
}

pre {
  white-space: pre-wrap;
  overflow-x: auto;
}

pre code {
  border: 1px dotted #333333;
  background: #f7f7f7;
  padding: 2px 9px;
  display: block;
  font-size: 85%;
}

ol {
  padding: 0 0 0 10px;
  margin: 0 0 10px;
}

ol li {
  margin: 4px 0;
  padding: 0;
}

ol ol {
  padding: 0 0 0 22.5px;
}

ol ol ol {
  padding: 0 0 0 22.5px;
}

ul {
  padding: 0 0 0 10px;
  margin: 0 0 10px;
}

ul li {
  margin: 4px 0;
  padding: 0;
}

ul ul {
  padding: 0 0 0 22.5px;
}

ul ul ul {
  padding: 0 0 0 22.5px;
}

table {
  width: 100%;
}

table th {
  font-weight: 600;
  text-align: left;
  background-color: #f7f7f7;
  padding: 4px 5px;
}

table td {
  border: 0;
  outline: none;
  padding: 4px 5px;
}

table thead {
  border: 1px solid #f7f7f7;
  border-bottom: 0;
}

table tbody {
  border: 1px solid #f7f7f7;
}

table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

body button.tabledrag-toggle-weight {
  margin: 5px;
}

body td.field-multiple-drag {
  max-width: 30px;
}

body .inline {
  display: inline-block;
}

body ul.links.inline {
  padding: 0;
  margin: 0;
}

body ul.links.inline li {
  padding: 0 9px 3px 0;
  display: inline-block;
}

form .form-item {
  padding: 0 0 7px;
}

form .form-item.form-type-textarea {
  padding-bottom: 0;
}

form .description {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 3px;
}

.layout-node-form .layout-region-node-secondary > .form-wrapper h3,
.layout-node-form .layout-region-node-secondary > .form-wrapper h4 {
  font-size: inherit;
}

.layout-node-form .layout-region-node-footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #f7f7f7;
}

form details.js-form-wrapper {
  cursor: pointer;
}

.js input.form-autocomplete,
.js input.form-autocomplete.ui-autocomplete-loading {
  background-position: 100% center;
  background-repeat: no-repeat;
}

.js[dir="rtl"] input.form-autocomplete,
.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
  background-position: 0% center;
  background-repeat: no-repeat;
}

form {
  margin: 0 0 1em;
}

label {
  display: inline-block;
  color: #333333;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0 0.1875em;
  padding-right: 4px;
  vertical-align: top;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  background-color: white;
  font-family: inherit;
  border: 1px solid #e6e6e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  width: auto;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus {
  box-shadow: 0 0 5px #b3b3b3;
  border-color: #b3b3b3;
  background: white;
  outline: none;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em;
}

input[type="file"] {
  width: 100%;
}

fieldset {
  border: solid 1px #b3b3b3;
  padding: 1.25em;
  margin: 1.125em 0;
}

fieldset legend {
  font-weight: bold;
  background: #fff;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 5px 11px;
  background: #f7f7f7;
  color: #666666;
}

button:hover, button:focus,
html input[type="button"]:hover,
html input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #e6e6e6;
}

.error,
.error textarea,
.error select {
  border-color: #ee696c;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

.error input:focus,
.error textarea:focus,
.error select:focus {
  background: #f7f7f7;
  border-color: #b3b3b3;
}

.error label,
.error label.error {
  color: #ee696c;
}

.error > small,
.error small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: #ee696c;
  color: #fff;
}

.error span.error-message {
  display: block;
}

input.error,
textarea.error {
  border-color: #ee696c;
  background-color: rgba(198, 15, 19, 0.1);
  margin-bottom: 0;
}

input.error:focus,
textarea.error:focus {
  background: #f7f7f7;
  border-color: #b3b3b3;
}

.error select {
  border-color: #ee696c;
  background-color: rgba(198, 15, 19, 0.1);
}

.error select:focus {
  background: #f7f7f7;
  border-color: #b3b3b3;
}

label.error {
  color: #ee696c;
}

input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  background-color: white;
  font-family: inherit;
  border: 1px solid #e6e6e6;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em;
  padding: 0.5em;
  height: 2.3125em;
  width: auto;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus {
  box-shadow: 0 0 5px #b3b3b3;
  border-color: #b3b3b3;
  outline: none;
}

form input[disabled],
form button[disabled] {
  background-color: #b3b3b3;
  box-shadow: none;
}

form input[disabled]:hover,
form button[disabled]:hover {
  background-color: #b3b3b3;
}

form button,
form input {
  transition: all 0.3s ease;
}

form button[disabled],
form input[disabled] {
  transition: auto;
}

.cog--mq {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.cog--mq:after {
  content: " ";
  display: block;
  clear: both;
}

.mq-main, .sponsor__class .view-sponsor-list {
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
}

.mq-main:after, .sponsor__class .view-sponsor-list:after {
  content: " ";
  display: block;
  clear: both;
}

#pg__c.page-panel .mq-main, #pg__c.page-panel .sponsor__class .view-sponsor-list, .sponsor__class #pg__c.page-panel .view-sponsor-list {
  max-width: 100%;
  padding: 0 5%;
}

body #pg__c.page-panel section#content > #content-area {
  padding-left: 0;
  padding-right: 0;
}

.cog-pl .cog-panel--fullrow {
  width: 100%;
}

.cog-pl .cog-panel--mq {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}

.cog-pl .cog-panel--mq:after {
  content: " ";
  display: block;
  clear: both;
}

.panel-cog-layout-one-col .cog-layout--main {
  width: 100%;
  float: right;
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  .panel-cog-layout-one-two-one .cog-layout--middle-left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-two-one .cog-layout--middle-right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .panel-cog-layout-one-two-one-cl .cog-layout--middle-left {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-two-one-cl .cog-layout--middle-right {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .panel-cog-layout-one-two-one-cr .cog-layout--middle-left {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-two-one-cr .cog-layout--middle-right {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .panel-cog-layout-one-three-one .cog-layout--middle-left {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-three-one .cog-layout--middle-center {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-three-one .cog-layout--middle-right {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .panel-cog-layout-one-three-one-cm .cog-layout--middle-left {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-three-one-cm .cog-layout--middle-center {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-three-one-cm .cog-layout--middle-right {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .panel-cog-layout-one-two-three-one .cog-layout--first-middle-left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-two-three-one .cog-layout--first-middle-right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
  .panel-cog-layout-one-two-three-one .cog-layout--second-middle-left {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-two-three-one .cog-layout--second-middle-center {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-two-three-one .cog-layout--second-middle-right {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .panel-cog-layout-one-three-two-one .cog-layout--first-middle-left {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-three-two-one .cog-layout--first-middle-center {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-three-two-one .cog-layout--first-middle-right {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  .panel-cog-layout-one-three-two-one .cog-layout--second-middle-left {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .panel-cog-layout-one-three-two-one .cog-layout--second-middle-right {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

.cog-layout--middle-right .block-entity-fieldnodefield-race-bike-reg h2 {
  display: none;
}

.cog-layout--middle-right .field--name-field-race-bike-reg {
  padding-top: 1.2em;
}

.cog-layout--middle-right .field--name-field-race-bike-reg .field__label {
  display: none;
}

@media only screen and (min-width: 768px) {
  .body-sidebars-first aside.sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .body-sidebars-first aside.sidebar-first > * {
    padding-left: 15px;
  }
  .body-sidebars-first section#content {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
  .body-sidebars-first section#content > * {
    padding-right: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .body-sidebars-second aside.sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
  .body-sidebars-second aside.sidebar-second > * {
    padding-right: 15px;
  }
  .body-sidebars-second section#content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  .body-sidebars-second section#content > * {
    padding-left: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .body-sidebars-both aside.sidebar-first {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
  .body-sidebars-both aside.sidebar-first > * {
    padding-left: 15px;
  }
  .body-sidebars-both section#content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  .body-sidebars-both section#content > * {
    padding-right: 25px;
  }
  .body-sidebars-both aside.sidebar-second {
    width: 15.25424%;
    float: right;
    margin-right: 0;
  }
  .body-sidebars-both aside.sidebar-second > * {
    padding-right: 15px;
  }
}

.body-sidebars-none section#content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.body-sidebars-none section#content > * {
  padding-left: 15px;
  padding-right: 15px;
}

aside.sidebar {
  overflow: hidden;
}

aside .block {
  margin-bottom: 25px;
}

aside .block h2 {
  font-size: 175%;
  color: #333333;
}

.bikereg--block {
  background: #e1ba6b !important;
  padding: 0.5em 1em;
  color: #7a6aff;
  text-align: center;
}

.site-branding-text {
  padding: 30px 10px 10px;
  font-size: 135%;
}

div.site-branding a.logo {
  width: 105px;
  display: block;
  padding: 5px 5px 0;
  float: left;
  margin-bottom: 5px;
}

nav.breadcrumb {
  margin-bottom: 5px;
  color: #333333;
}

nav.breadcrumb ol li::before {
  content: '/';
  padding: 0 3px 0 0.5px;
  color: #333333;
}

nav.breadcrumb ol li:first-child::before {
  content: normal;
}

.card {
  padding: 0.5em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card-title {
  margin-bottom: 0.6em;
  font-size: 1.2em;
  font-weight: bold;
}

form.entity-browser-asset-entity-browser__form {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.eb-tabs,
.form-actions {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.view-id-asset_browser {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 400px;
  overflow-y: auto;
  position: relative;
}

.region-footer {
  border-top: 1px dotted #b3b3b3;
  padding-top: 25px;
  margin-top: 25px;
}

.header--primary {
  background: #7a6aff;
}

.menu--main .menu {
  display: -ms-flexbox;
  display: flex;
}

.menu--main .menu .menu-item {
  list-style: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  margin: 0.2em;
  background: #e1ba6b;
}

.region-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  flex-direction: row;
  background: no-repeat;
  background-size: cover;
}

.hero__content {
  width: 66.10169%;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 0.84746%;
  padding: 0.5em 0.7em;
  text-align: center;
}

.hero__content .hero__heading {
  font-weight: bold;
  color: #fff;
}

.drupal-messages {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid white;
  border-radius: 5px;
}

.drupal-messages.messages--status {
  background: #f7f7f7;
  color: #333333;
}

.drupal-messages.messages--warning {
  background: rgba(225, 186, 107, 0.3);
  color: #333333;
}

.drupal-messages.messages--error {
  background: rgba(238, 105, 108, 0.3);
  color: #ee696c;
}

.race__schedule--hero {
  width: 32.20339%;
  background: rgba(0, 0, 0, 0.6);
  margin: 0 0.84746%;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid #e1ba6b;
}

.race__schedule--hero h2 {
  color: #fff;
  font-size: 120%;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  border-bottom: 1px #333333 solid;
}

.race__schedule--hero .race {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
}

.race__schedule--hero .race a {
  color: #e1ba6b;
  font-weight: bold;
}

.race__all--block h2 {
  text-align: center;
}

.race__all--block .race--all--block {
  margin-top: -4em;
}

.race__all--block .race--all--block .view-content {
  width: 100%;
  min-width: 950px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  font-size: 0;
}

.race__all--block .race--all--block .race {
  display: inline-block;
  width: 80px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  font-size: 16px;
}

.race__all--block .race--all--block .race:hover {
  width: 80vw;
}

.race__all--block .race--all--block .race:hover .race__title a:before {
  margin-left: -100px;
}

.race__all--block .race--all--block .race:hover .race__title a:after {
  margin-left: -5px;
}

.race__all--block .race--all--block .race .race__image {
  position: relative;
  margin-left: 80px;
  height: 100vh;
}

.race__all--block .race--all--block .race .race__image img {
  object-fit: cover;
  height: 100%;
}

.race__all--block .race--all--block .race .race__image h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.race__all--block .race--all--block .race .race__image p {
  font-size: 0.88em;
  line-height: 1.5em;
  padding-right: 30px;
}

.race__all--block .race--all--block .race__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vh;
  height: 80px;
  font-family: "crackhouse";
  text-align: center;
  background: #333333;
  text-transform: uppercase;
  transform: rotate(90deg);
  transform-origin: 0 100%;
}

.race__all--block .race--all--block .race__title a {
  display: block;
  transform: rotate(180deg);
  color: #fff;
}

.race__all--block .race--all--block .race__title a:hover {
  color: #b3b3b3;
}

.race__all--block .race--all--block time {
  display: none;
}

.node--type-race .field__label {
  font-weight: bold;
}

.search--header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.search--header form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 1em 0 0;
}

.sponsor__class .sponsor__class--title {
  text-align: center;
  font-family: "crackhouse";
  font-size: 250%;
}

.sponsor__class .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.view-sponsor-list .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.nodetype--race .view-sponsors .view-content {
  padding: 0 5%;
}

.sponsor--gold {
  width: 49.15254%;
}

@media only screen and (min-width: 768px) {
  .sponsor--gold {
    width: 32.20339%;
  }
}

@media only screen and (min-width: 768px) {
  .sponsor--silver {
    width: 23.72881%;
  }
}

@media only screen and (min-width: 768px) {
  .sponsor--bronze,
  .sponsor--partner {
    width: 15.25424%;
  }
}

.sponsor__name {
  text-align: center;
}

.sponsor {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: baseline;
  align-content: baseline;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 1.5em;
}

.sponsor .sponsor__logo {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
}

.sponsor .sponsor__logo img {
  max-height: 100px;
  width: auto;
}

.block-tabs,
.tabs {
  margin: 1.5em 0;
}

.block-tabs ul,
.tabs ul {
  display: block;
  padding-left: 0;
  border-bottom: 1px solid #b3b3b3;
}

.block-tabs ul li,
.tabs ul li {
  display: inline-block;
}

.block-tabs ul li a,
.tabs ul li a {
  margin: 0;
  padding: 0.4em;
  text-decoration: none;
}

.button {
  color: blue;
}

.rounded {
  border-radius: 15px;
}

button:hover {
  color: red;
}

/* stylelint-disable */
.paragraph--type--paragraph-wrapper, .race__all--block .race--all--block {
  width: 100vw;
  margin-right: -50vw;
  margin-left: -50vw;
  left: 50%;
  right: 50%;
  position: relative;
}

/* stylelint-enable */

/*# sourceMappingURL=maps/styles.css.map */
